services:
  cms_api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cms_api
    ports:
      - "5000:8080" # Maps localhost:5000 -> container:8080
    environment:
      # 1. DB Host changed from 'localhost' to 'timescaledb_instance' (Container Name)
      - ConnectionStrings__DefaultConnection=Host=timescaledb_instance;Database=cms_net_db;Username=shared_pg_user;Password=yH+tkZJUhnW5S3k;Pooling=true;Minimum Pool Size=10;Maximum Pool Size=200;
      
      # 2. Standard Configs
      - ASPNETCORE_ENVIRONMENT=Development
      - Jwt__Key=ThisIsASecretKeyForDevOnlyChangeItInProdToSomethingVeryLong
      - Jwt__Issuer=cms-api
      - Jwt__Audience=cms-users
      
      # 3. Redis Connection
      - ConnectionStrings__Redis=redis_instance:6379
      
    networks:
      - shared_network
    volumes:
      - ./logs:/app/Logs 

# This tells Docker: "Don't create a new network. Use the existing one named 'shared-services-network'"
networks:
  shared_network:
    name: shared-services-network 
    external: true