services:
  clamav:
    image: clamav/clamav:latest
    container_name: clamav_service
    restart: unless-stopped
    volumes:
      - clamav_db:/var/lib/clamav
    networks:
      - shared_network

  cms_api:
    build:
      context: .
      dockerfile: src/CMS.Api/Dockerfile
    container_name: cms_api
    ports:
      - "5000:8080" # Maps localhost:5000 -> container:8080
    environment:
          # 1. Environment
          - ASPNETCORE_ENVIRONMENT=${ASPNET_ENV}

          # 2. Connection Strings
          - ConnectionStrings__DefaultConnection=${CMS_DB_CONNECTION_STRING}
          - ConnectionStrings__Redis=${REDIS_CONNECTION_STRING}
          
          # 3. JWT Configuration
          - Jwt__Key=${JWT_SECRET}
          - Jwt__Issuer=${JWT_ISSUER}
          - Jwt__Audience=${JWT_AUDIENCE}

          # 4. SMTP Settings
          - SmtpSettings__Host=${SMTP_HOST}
          - SmtpSettings__Port=${SMTP_PORT}
          - SmtpSettings__SenderName=${SMTP_SENDER_NAME}
          - SmtpSettings__SenderEmail=${SMTP_SENDER_EMAIL}
          - SmtpSettings__Password=${SMTP_PASSWORD}

          # CLAMAV
          - CLAMAV_HOST=clamav
          - CLAMAV_PORT=3310
    depends_on: 
      - clamav
    networks:
      - shared_network
    volumes:
      - ./logs:/app/Logs 
      - ./wwwroot_data:/app/wwwroot

  nginx:
    image: nginx:alpine
    container_name: cms_gateway
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/nginx.crt:/etc/nginx/nginx.crt:ro
      - ./nginx/nginx.key:/etc/nginx/nginx.key:ro
      - ./wwwroot_data/uploads:/usr/share/nginx/html/uploads:ro
    depends_on:
      - cms_api
    networks:
      - shared_network
volumes:
  clamav_db:
# This tells Docker: "Don't create a new network. Use the existing one named 'shared-services-network'"
networks:
  shared_network:
    name: shared-services-network 
    external: true